@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
}
:root{
    --fonteAndroid: 'android', 'Times', serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84E1AD;
    margin: 0px;
}
header{
    background-image: linear-gradient(#3DDA84, #1A5C38);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.438);
    min-width: 300px;
}
header > h1{
    font: bold 2em 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;

}
header > p{
    font: normal 1em 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
    height: 50px;
    max-width: 400px;
    margin: auto;
    line-height: 2em;
    margin-bottom: 25px;
}

header > nav{
    padding-bottom: 10px;
    margin-left: 25px;

}
nav > a{
    font: bold 1em 'Arial', 'Helvetica', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 25px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    color: #1A5C38;
    background-color: #3DDA84;
    box-shadow:0px 0px 10px 10px #3DDA84 ;
}
main{
    
    max-width: 850px;
    background-color: #f2f2f2;
    margin: auto;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
    

}
main > h1{
    margin-top: 0px;
    font: bold 2em var(--fonteAndroid);
    color: #1A5C38;
    text-align: left;
    padding-top: 20px;
    margin-left: 15px;
}
main p{
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 15px;
    line-height: 2em;
}
main a{
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}
main a:visited{
    color:#1A5C38
}
main a:hover{
    color: #3DDA84;
    text-decoration: underline;
}
main a::after{
    content: '🔗';
}

h2{
    background-image: linear-gradient(to right, #84E1AD, #f2f2f2);
    font: bold 1.5em var(--fonteAndroid);
    color: #1A5C38;
    padding-left: 8px;
    margin-left: 15px;
    margin-top: 15px;
    
}
img{
    width: 100%;
}
.bugdroid{
    display: block;
    max-width: 350px;
    margin: 15px auto;
}
iframe{
    display: block;
    margin: auto;
    padding: 15px;
    max-width: 90%;
}
aside{
    background-color: #1A5C38;
    margin: 15px 0px;
    
}
div{
    max-width: 830px;
    min-height: 400px;
    background-color: #C5EBD6;
    border-radius: 15px;
    margin: 15px auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.397);
    
}
div > p{
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 15px;
    line-height: 2em;
}

h3{
    padding: 10px;
    background-color: #2e9b5f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    margin-top: 0px;
}
ul{
    font: normal 1em 'Arial', 'Helvetica', sans-serif;
    columns: 2;
}
li{
    padding-left: 15px;
    padding-right: 15px;
}
li::before{
    content: '✔';
    margin-right: 5px;
}
strong{
    color: #1A5C38;
}
footer{
    background-color: #1A5C38;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
footer strong{
    color: white;
}