@charset "UTF-8";

/*Estilo para impressão*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
menu{
    display: none;
}
article::after{
    display: block;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    content: 'Este artigo foi retirado do site www.cursoemvideo.com!';
}