@charset 'UTF-8';

body{
    height: 100vh;
    background-color: blue;
    background-image: url('imagens/wallpaper002.jpg'); 
    background-size:cover;
    background-repeat: repeat-y;
    background-position: center center;
}
main{
    max-width: 700px;
    margin: auto;
    background-color: #666666;
    padding: 15px;
}
main{
    color: white;
}
div.bgposition{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 15px;
}
div#q1{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left top;
}
div#q2{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left center;
}
div#q3{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
div#q4{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center top;
}
div#q5{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
}
div#q6{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
div#q7{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right top;
}
div#q8{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right center;
}
div#q9{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right bottom;
}