@charset "UTF-8";
@font-face {
    font-family: 'brasilero';
    src: url('fonts/Brasilero2018Free.otf') format('opentype');
}
@font-face {
    font-family: 'Passion One';
    src: url('fonts/PassionOne-Bold.ttf') format('truetype');
}
*{
    margin:0px;
    padding: 0px;
}

:root{
    --corfonte: #261201;
    --corfundo: #f2c48d;
    --marrom:   #731702;
    --bege:     #f28f79;
    --vermelho: #bf1f1f;

    --texto: 'brasilero', sans-serif;
    --titulo: 'Passion One', cursive;
}
html, body{
    min-height: 100vh;
    background-color: var(--corfundo);
}
a{
    color: var(--vermelho);
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;
    
}
a:hover{
    text-decoration: underline;
    background-color: var(--bege);
    box-shadow: 0px 0px 8px 6px var(--bege);
}
header{
    font-variant: small-caps;
    background-color: var(--corfonte);
    min-height: 200px;
    padding-top: 55px;
    margin-bottom: 100px;
}
header h1{
    font-family: var(--titulo);
    color: var(--vermelho);
    text-align: center;
    font-size: 7em;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corfundo);
    text-align: center;
    font-size: 1.2em;
}
section{
    font-family: var(--texto);
    color: var(--corfonte);
    font-size: 2em;
    line-height: 2em ;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section.normal{
    background-color: var(--corfundo);
}
section.imagem{
    background-color: var(--marrom);
}
section.normal > p{
    max-width: 400px;
}
section.imagem > p {
    max-width: 400px;
    background-color: var(--corfonte);
    color: var(--corfundo);
}
footer{
    text-align: center;
    color: var(--corfundo);
    background-color: var(--corfonte);
}